html {
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
.board {
    height: 100%;
}
.mobileControls {
    height: 0%;
    display: none;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;

}
button {
    text-decoration: none;
    height: 100%;
    width: 32%;
    background-color: #4286f4;
    border: none;
    margin: .25em;
    font-family: "VT323";
    font-size: 25px;
}
#reset {
    position: absolute;
    left: 47.5%;
    top: 55%;
    width:15%;
    height: 10%;
    float:left;
    display: none;

}
@media only screen and (max-width: 480px) {

    .board {
        height: 90%;
    }
    .mobileControls {
        height: 10%;
        display: flex;;
        z-index: 100;
    }

}
